parameters:
	level: 6
	errorFormat: raw
	editorUrl: '%%file%% %%line%% %%column%%: %%error%%'
	scanFiles:
		- common.php
		- commonbase.php
		- ComposerUpdate.php
		- update.php
		- www/update.php
	paths:
		- Example
		- examples
	ignoreErrors:
		-
			message: '#Variable \$this might not be defined#'
			paths:
				- examples/*
